.product{
    display: flex;
    border-bottom: 1px solid gray;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.product-name {
    color: rgb(77, 77, 226);
    
}
.btn{
    width: 160px;
    height: 36px;
    background-color: goldenrod;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
   
}
.product-text{
    margin-left: 12px;
}
